<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div id='main'></div>

    <div id='reactmain'></div>
    <!-- <script type="text/javascript" src="vendor.min.js"></script> -->
  </body>
</html>
